.card {
  background-color: #fff;
  margin: 0 0.5rem;
  position: relative;
  border-radius: 0.5rem;

  &-timer {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: #00000061;
    padding: 0.3rem 0.8rem;
    color: #fff;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    letter-spacing: 0.8px;
  }
  &-image {
    position: relative;
    img {
      max-width: 100%;
      object-fit: cover;
      max-height: 188px;
      min-height: 188px;
      width: 100%;
      border-radius: 0.5rem 0.5rem 0 0;
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    font-size: 2.5rem;
    display: none;
    & > div {
      margin: 0 1rem;
    }
    &-like {
      transition: 0.2s ease;
      &:hover {
        color: #ff3465;
        transform: scale(1.2);
      }
    }
  }
  &:hover {
    .overlay {
      display: flex;
    }
  }
  &-title {
    padding-left: 0.5rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 500;
  }
  &-info {
    padding: 1rem;
    box-sizing: border-box;
  }
  &-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.4rem;
    font-weight: 400;
  }
  &-author {
    color: #01aaed;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
  }
  &-like,
  &-view {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    letter-spacing: 0.8px;
    svg {
      margin-right: 0.5rem;
    }
  }
}

@media (max-width: 768px) {
  .card {
    &-image {
      img {
        max-height: 140px;
        min-height: 140px;
      }
    }
  }
}
