.card {
  background-color: var(--third-color);
  position: relative;
  border-radius: 0.5rem;

  &-timer {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: #00000061;
    padding: 0.3rem 0.8rem;
    color: #fff;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    letter-spacing: 0.8px;
  }
  &-image {
    position: relative;
    img {
      max-width: 100%;
      object-fit: cover;
      max-height: 188px;
      min-height: 188px;
      width: 100%;
      border-radius: 0.5rem 0.5rem 0 0;
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    font-size: 2.5rem;
    display: none;
    & > div {
      margin: 0 1rem;
    }
    &-like {
      transition: 0.2s ease;
      &:hover {
        color: #ff3465;
        transform: scale(1.2);
      }
    }
  }
  &:hover {
    .overlay {
      display: flex;
    }
  }
  &-title {
    padding-left: 0.5rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 500;
  }
  &-info {
    padding: 2rem 1rem;
    box-sizing: border-box;
  }
  &-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.4rem;
    font-weight: 400;
  }
  &-author {
    color: #01aaed;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
  }
  &-like,
  &-view {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    svg {
      margin-right: 0.5rem;
    }
  }
}
.music {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0.5rem;
  &-title {
    padding-left: 0.5rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 500;
  }
  &-image {
    position: relative;
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
    img {
      width: 5rem;
      height: 5rem;
      object-fit: cover;

      border-radius: 0.5rem;
    }
  }
  &-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.2rem;
    display: none;
  }
  &-left {
    display: flex;
    max-width: 90%;
  }
  &-right {
    min-width: 2rem;
    span {
      font-size: 1.2rem;
    }
  }
  &-name {
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
  }
  &-author {
    color: #01aaed;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
  }
  &-info {
    max-width: 70%;
  }
  &-item {
    box-sizing: border-box;
    width: 25%;
    padding: 1.5rem;
    margin: 1rem 0;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.active {
      background-color: var(--third-color);
    }
    &:hover {
      background-color: var(--third-color);
      .music-play {
        display: block;
      }
    }
  }
}
.music-play.active {
  display: block;
}
@media (max-width: 1280px) {
  .music {
    &-item {
      width: calc(100% / 3);
    }
  }
}
@media (max-width: 1024px) {
  .music {
    &-item {
      width: 50%;
    }
  }
}
@media (max-width: 576px) {
  .music {
    &-item {
      width: 100%;
    }
  }
}
