.music-control {
  position: fixed;
  background-color: var(--third-color);
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  padding-left: 32rem;
  transition: 0.2s ease;
  &.full {
    padding-left: 2rem;
  }
  &.hidden {
    transform: translateY(200%);
  }
  &.active {
    transform: translateY(0);
  }
  .drow {
    position: absolute;
    bottom: 100%;
    background: var(--third-color);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem 0.5rem 0 0;
    cursor: pointer;
  }
  .left-control {
    display: flex;
    align-items: center;
    img {
      max-width: 5rem;
      width: 100%;
      margin-right: 1rem;
      border-radius: 0.5rem;
      &.active {
        animation-name: scaleImage;
        animation-duration: 1s;
        animation-iteration-count: infinite;
      }
    }
    h4 {
      font-size: 1.4rem;
      font-weight: 400;
    }
    p {
      font-size: 1.4rem;
      color: #01aaed;
    }
  }
  .center-control {
    max-width: 24rem;
    flex: 1 1 0%;
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .bottom {
      width: 100%;
      display: flex;
      margin-top: 1rem;
      align-items: center;
      justify-content: center;
      .time {
        font-size: 1.4rem;
      }
      .progress {
        margin: 0 1rem; ///;;
        flex: 1;
        input {
          width: 100%;
        }
      }
    }
  }
  .right-control {
    display: flex;
    align-items: center;
  }
  .control-action {
    font-size: 2rem;
    transition: 0.2s ease;
    &:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
  }
  .control-favorite {
    &:hover {
      color: #ff3465;
    }
  }
  .control-loop {
    &.active {
      color: #ff3465;
    }
  }
}

@media (max-width: 992px) {
  .music-control {
    top: 0;
    box-sizing: border-box;
    padding: 5rem 4rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
    .drow {
      position: relative;
      margin: 0;
      bottom: 0;
      justify-content: flex-end;
      width: 100%;
    }
    .left-control,
    .center-control {
      width: 100%;
      flex: 0;
      max-width: 100%;
    }
    .center-control {
      .bottom {
        margin-top: 2rem;
      }
    }
    .left-control {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        margin: 0;
        max-width: 25rem;
        max-height: auto;
        width: auto;
        margin-bottom: 2rem;
      }
      h4,
      p {
        font-size: 1.6rem;
        text-align: center;
      }
    }
    .right-control {
      position: fixed;
      right: 2rem;
      top: 50%;
      transform: translateY(-50%);
      flex-direction: column;
      svg {
        margin: 1rem 0;
      }
    }
  }
}

.btn-open {
  position: fixed;
  background-color: #ff3465;
  width: 4rem;
  height: 4rem;
  bottom: 4rem;
  right: 2rem;
  border-radius: 1rem;
  margin-left: 32rem;
  color: #fff;
  font-size: 2.5rem;
  display: flex;
  z-index: 9999;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@keyframes scaleImage {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
