.sidebar {
  position: fixed;
  top: 8rem;
  width: 30rem;
  overflow: hidden;
  bottom: 0;
  background-color: var(--third-color);
  // border-radius: 6rem 0 0 6rem;
  box-sizing: border-box;
  z-index: 2;
  &::-webkit-scrollbar {
    display: none;
  }

  padding: 0 2rem;
  transition: 0.2s ease-in;
  &-active {
    transform: translateX(0);
  }
  &-hidden {
    transform: translateX(-100%);
  }
  &.drop-active {
    transform: translateX(-100%);
  }
  &-heading {
    padding-top: 2rem;
    display: flex;
    justify-content: flex-start;
  }
  &-logo {
    padding-left: 1.5rem;
    display: flex;
    color: #fff;
    svg {
      color: #ffc876;
      font-size: 3rem;
      margin-right: 0.4rem;
    }
    span {
      font-size: 2.5rem;
      font-weight: 400;
      &.special {
        color: #ffc876;
      }
    }
  }
}

.menu {
  margin-top: 4rem;
  &-title {
    padding: 0 1.5rem;
    margin: 1rem 0;
    font-size: 1.6rem;
    color: #adaab7;
  }
  &-list {
    display: flex;
    flex-direction: column;

    a {
      color: #676669;
      font-size: 1.7rem;
      text-decoration: none;
      font-weight: 400;
      margin: 0.5rem 0;
      display: flex;
      align-items: center;
      padding: 1rem 1.5rem;
      &.activated {
        background-color: #092c3e;
        border-radius: 1rem;
        color: #fff;
      }
      &:hover {
        background-color: #092c3e;
        border-radius: 1rem;
        color: #fff;
      }
      svg {
        margin-right: 2rem;
        font-size: 2rem;
      }
    }
  }
  
}
.btn-create{
  margin-left: 2rem;
  font-size: 1.4rem;
  margin-top: 1rem;
  border: 1px solid var(--color);
  max-width: 120px;
  padding: .2rem 1rem;
  border-radius: .5rem;
  cursor: pointer;
}
.name-list{
  margin-left: 2rem;
  margin-top: 1rem;
  font-size: 2rem;
  &-item{
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover{
      color: #1890ff;
    }
    span{
      margin-left: .5rem;
    }
  }
}
.toggle {
  position: fixed;
  bottom: 0.4rem;
  right: 1.5rem;
  input {
    position: relative;
    width: 5rem;
    height: 2.5rem;
    appearance: none;
    background-color: #ff3465;
    border-radius: 1.5rem;
    transition: 0.5s;
    cursor: pointer;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      background-color: #fff;
      transform: scale(1.1);
    }
    &:checked::before {
      left: 3rem;
    }
  }
}
@media (max-width: 768px) {
  .sidebar {
    border-radius: 0;
    top: 12rem;
    overflow-y: scroll;
  }
}
